body {
    margin: 0;
    background: black;
    color: #00ff88;
    font-family: "Courier New", monospace;
    text-align: center;
    overflow-x: hidden;
}

body {
    text-shadow: 0 0 5px rgba(0,255,136,0.4);
}

.container {
    margin-top: 15%;
}

h1 {
    font-size: 3rem;
    text-shadow: 0 0 10px #00ff88;
    animation: glitch 1s infinite;
}

.subtitle {
    opacity: 0.6;
}

nav a {
    display: inline-block;
    margin: 20px;
    color: #00ff88;
    text-decoration: none;
    border: 1px solid #00ff88;
    padding: 10px 20px;
    transition: 0.3s;
}

    nav a:hover {
        background: #00ff88;
        color: black;
        box-shadow: 0 0 10px #00ff88;
    }

input {
    background: black;
    border: 1px solid #00ff88;
    color: #00ff88;
    padding: 10px;
    margin: 10px;
}

button {
    background: #00ff88;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    button:hover {
        box-shadow: 0 0 10px #00ff88;
    }

#output {
    margin-top: 20px;
    min-height: 40px;
}

.scanlines {
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient( to bottom, rgba(0,255,136,0.03), rgba(0,255,136,0.03) 1px, transparent 1px, transparent 4px );
    pointer-events: none;
    animation: scanMove 20s linear infinite;
}

@keyframes scanMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 200px;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 2px 0 red, -2px 0 blue;
    }

    50% {
        text-shadow: -2px 0 red, 2px 0 blue;
    }

    100% {
        text-shadow: 2px 0 red, -2px 0 blue;
    }
}

